/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
* { 
	margin:0;
	padding:0;
}
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/avenir-roman.eot');
  src: url('/fonts/avenir-roman.eot') format('embedded-opentype'),
       url('/fonts/avenir-roman.woff2') format('woff2'),
       url('/fonts/avenir-roman.woff') format('woff'),
       url('/fonts/avenir-roman.ttf') format('truetype'),
       url('/fonts/avenir-roman.svg#AvenirLTStd55Roman') format('svg');
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url('/fonts/avenirltstdheavy.eot');
  src: url('/fonts/avenirltstdheavy.eot') format('embedded-opentype'),
       url('/fonts/avenirltstdheavy.woff2') format('woff2'),
       url('/fonts/avenirltstdheavy.woff') format('woff'),
       url('/fonts/avenirltstdheavy.ttf') format('truetype'),
       url('/fonts/avenirltstdheavy.svg#AvenirLTStd85Heavy') format('svg');
}
* { font: 14px Arial, Helvetica, sans-serif; color: #3e3e3e }

img { 
	max-width: 100%; 
}
.collapse {
	margin:0;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}


/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
a { color: #024886;}

.btn {
	display: block;
	text-decoration: none;
	background: url(/img/buttons.png);
	position: relative;
	font-size: 14px;
	font-family: 'Avenir', arial;
	color: #242638;
	outline: 0 none;
	margin: 0;
	padding: 12px 0 0 6px;
	border: 0;
	overflow: visible;
	width: 112px !important;
	height: 31px !important;
	background-position: 0 -1061px;
	text-align: left;
	margin-bottom: 1em;
}

p.callout {
	padding:15px;
	margin-bottom: 15px;
}
.callout a {
	display: block;
	background: url(/img/buttons.png);
	position: relative;
	font-size: 22px;
	font-family: 'Avenir', arial;
	color: #242638;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 16px 0 0 25px;
	border: 0;
	overflow: visible;
	width: 257px;
	height: 42px;
	background-position: 0 -907px;
	text-align: left;
	margin-bottom: 1em;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;

}

table.social {
/* 	padding:15px; */
	background-color: #ebebeb;
	
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
table.head-wrap { width: 100%; color: #fff; font-size: 12px;}


/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap { width: 100%;}


/* ------------------------------------- 
		FOOTER 
------------------------------------- */
table.footer-wrap { width: 100%;	clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
	font-size:10px;
	font-weight: bold;
	
}


/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: 'Avenir', Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 24px; font-family: 'Avenir', Arial, "Lucida Grande", sans-serif}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:bold; font-size: 17px;}
h6 { font-weight:900; font-size: 12px; color:#FFF; font-weight: normal; line-height: 30px; margin-bottom: 0; background: url(../../img/hp_email.png) no-repeat 100% 50%; padding-right: 30px;}

.collapse { margin:0!important;}

p, ul { 
	margin-bottom: 10px; 
	font-weight: normal; 
	font-size:14px; 
	line-height:1.2;
	font-family: 'Avenir', Arial, 'Lucida Grande', sans-serif;
}
p.lead { font-size:15px; }
p.last { margin-bottom:0px;}

ul li {
	margin-left:5px;
	list-style-position: inside;
}

/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display:block!important;
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding:0px;
	max-width:600px;
	margin:0 auto;
	display:block; 
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
	width: 300px;
	float:left;
}
.column tr td { padding: 15px; }
.column-wrap { 
	padding:0!important; 
	margin:0 auto; 
	max-width:600px!important;
}
.column table { width:100%;}
.social .column {
	width: 280px;
	min-width: 279px;
	float:left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 600px) {
	

	div[class="column"] { width: auto!important; float:none!important;}
	
	table.social table[class="column"] {
		width:auto!important;
	}

}